{{!< layout/main}}
<div class="container-fluid">
  <div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="row center-block">
    <div class="col-md-4 col-md-offset-1">
      <div class="choices-box text-capitalize">
        <form action="/polls/vote" method="POST">

          {{#each labels}}
            <div class="radio">
              <input type="radio" name="optRadio" value="{{@index}}">{{escape this}}</input>
            </div>
          {{/each}}

          <input class="btn btn-success" type="submit" value="Vote!"></input>
        </form>
      </div>
    </div>
    <div class="col-md-6">
    </br>
      <canvas id="myChart" width="500" height="400"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [ {{{labels}}} ],
                datasets: [{
                    data: [ {{votes}} ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false,
                },
                responsive: false,
                scales: {
                    xAxes: [{
                        ticks: {
                            min: 0,
                            stepSize: 1,
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>

    </div>
  </div>
</div>
